.container {
    padding: 12px 50px 24px;
    background-color: #f9fafb;
}

.card {
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(33, 43, 54, 0.08);
}

.title {
    font-size: 600;
    color: #E10600;
    text-transform: uppercase;
}

.label {
    padding: 0 6px;
    color: #919EAB
}

.captionTable {
    text-align: start;
    padding: 0 12px;
    color: #E10600;
}

.stylesSpin {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.titleOfRowTable {
    color: #919EAB;
}